<?xml version="1.0" encoding="UTF-8"?>
<!--
  PHPUnit configuration for mod_eledialeitnerflow.

  Paths are relative to the plugin directory (as required by moodle-plugin-ci).
  To run manually from the Moodle root use:
    php admin/tool/phpunit/cli/init.php
    vendor/bin/phpunit mod_eledialeitnerflow_testsuite
-->
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="../../lib/phpunit/phpunit.xsd"
    bootstrap="../../lib/phpunit/bootstrap.php"
    colors="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutOutputDuringTests="true"
>
    <testsuites>
        <testsuite name="mod_eledialeitnerflow_testsuite">
            <directory suffix="_test.php">tests</directory>
        </testsuite>
    </testsuites>

</phpunit>
